/* GERAIS */
* {
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    color: #4A4A4A; 
    margin: 0 auto;
    
}

/* LAYOUT */

.container {
    width: 90%;
    margin: 0 auto;

}

.col-1-de-3{
    display: inline-block;
    width: 33%;
    padding: 80px;
}

.col-2-de-3 {
    display: inline-block;
    width: 66%;

}

/* NAVEGAÇÃO */
a {
    text-decoration: none;
}

.menu {
    display: inline-block;
    margin-left: 400px;
}

.menu__item {
    display: inline;
    list-style: none;
    margin: 20px;
    text-transform: uppercase;
    margin-right: 30px;
}

.menu__item a {
    color: grey;
}

.topbar {
    position: fixed;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    background-color: white;
    top: 0;
    width: 100%;
    padding: 10px 95px;
    z-index: 999; 
}


/*HEADER */

.header {
    padding-top: 80px;
    text-align: center;
}

.header__titulo {
    text-transform: uppercase;
    color: #9013FE;
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
}

/*h3 {
    text-align: center;
    color: #9013FE;
    text-transform: uppercase;
}*/


/* DESCRICAO AUTORA */

.autora {
    text-align: center;
    border: 1px solid lightgrey;
    padding: 10px;
    vertical-align: top;
    height: 480px;
}

.autora__nome,
.autora__ocupacao {
    margin: 0;
}

.autora__nome {
    margin-top: 10px;
}


/* ARTIGO */ 

.artigo{
    color: #4A4A4A;
    margin-left: 30px;

}


.artigo__titulo {
    font-size: 36px;
    margin-top: 0;

}

.artigo p {
    font-size: 24px;
}

/* FOOTER */

footer {
    text-align: center;
    color: grey;
}
.rodape p {
    margin: 0;
    padding: 10px 0;

}

/*
h1 {
    text-align: left;
}

img {
    align-content: center;
    margin-top: 20px;
    
}

main{
    display: inline-block;
    width: 70%;
    align-content: left;
    padding: 0 0 30px 30px;
    vertical-align: top;

} */

